### 請將lesson17資料夾內的world.csv，選取台灣和日本的資料，並且找出2021-01-01~2021-01-31的資料。輸出成csv, xlsx, json

In [1]:
import pandas as pd

df = pd.read_csv('world.csv')

In [15]:
df1 = df.reindex(columns=['洲名', '國家', '日期', '總確診數', '新增確診數'])
tw_jp_df = df1.query('國家 in ["台灣", "日本"]')
tw_jp_df

        洲名  國家          日期     總確診數  新增確診數
85626   亞洲  日本  2020-01-22        2      0
85627   亞洲  日本  2020-01-23        2      0
85628   亞洲  日本  2020-01-24        2      0
85629   亞洲  日本  2020-01-25        2      0
85630   亞洲  日本  2020-01-26        4      2
...     ..  ..         ...      ...    ...
164884  亞洲  台灣  2022-07-02  3837856  34807
164885  亞洲  台灣  2022-07-03  3870528  32672
164886  亞洲  台灣  2022-07-04  3893643  23115
164887  亞洲  台灣  2022-07-05  3929627  35984
164888  亞洲  台灣  2022-07-06  3964188  34561

[1800 rows x 5 columns]

In [14]:
tw_jp_202101_df = tw_jp_df.query('"2021-01-01" <= 日期 <= "2021-01-31"')
tw_jp_202101_df

        洲名  國家          日期    總確診數  新增確診數
85971   亞洲  日本  2021-01-01  239005   3256
85972   亞洲  日本  2021-01-02  242076   3071
85973   亞洲  日本  2021-01-03  245242   3166
85974   亞洲  日本  2021-01-04  248585   3343
85975   亞洲  日本  2021-01-05  253534   4949
...     ..  ..         ...     ...    ...
164363  亞洲  台灣  2021-01-27     893      3
164364  亞洲  台灣  2021-01-28     895      2
164365  亞洲  台灣  2021-01-29     899      4
164366  亞洲  台灣  2021-01-30     909     10
164367  亞洲  台灣  2021-01-31     911      2

[62 rows x 5 columns]

In [16]:
tw_jp_202101_df.to_csv('tw_jp_202101.csv', index=False)
tw_jp_202101_df.to_excel('tw_jp_202101.xlsx', index=False, sheet_name='2021-01')
tw_jp_202101_df.to_json('tw_jp_202101.json', index=False, orient='table', force_ascii=False)