In [11]:
# 階層式索引(level)

import numpy as np
import pandas as pd

s1 = pd.Series(np.random.randn(9),
               index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                      [1, 2, 3, 1, 2, 3, 1, 2, 3]])

s1.index.names = ['index1', 'index2']
s1

index1  index2
a       1         2.144743
        2         1.426408
        3        -0.239795
b       1         2.089252
        2        -0.133784
c       3        -0.266617
        1        -0.783743
d       2         0.670559
        3        -0.482987
dtype: float64

In [5]:
s1['a']

index2
1    1.948426
2   -1.644295
3    0.370575
dtype: float64

In [8]:
s1['a'][-2:]

index2
2   -1.644295
3    0.370575
dtype: float64

In [12]:
s1.unstack('index1')

index1         a         b         c         d
index2
1       2.144743  2.089252 -0.783743       NaN
2       1.426408 -0.133784       NaN  0.670559
3      -0.239795       NaN -0.266617 -0.482987

In [13]:
s1.unstack('index2')

index2         1         2         3
index1
a       2.144743  1.426408 -0.239795
b       2.089252 -0.133784       NaN
c      -0.783743       NaN -0.266617
d            NaN  0.670559 -0.482987

In [21]:
frame =  pd.DataFrame(np.arange(12).reshape((4, 3)),
                      index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]],
                      columns=[['台北', '台北', '台中'], ['Grean', 'Red', 'Green']])
frame.columns.names = ['縣市', '顏色']
frame.index.names = ['key1', 'key2']
frame

縣市           台北        台中
顏色        Grean Red Green
key1 key2
a    1        0   1     2
     2        3   4     5
b    1        6   7     8
     2        9  10    11

In [22]:
s2 = frame.stack(['縣市', '顏色'], future_stack=True)
s2

key1  key2  縣市  顏色
a     1     台北  Grean     0
                Red       1
            台中  Green     2
      2     台北  Grean     3
                Red       4
            台中  Green     5
b     1     台北  Grean     6
                Red       7
            台中  Green     8
      2     台北  Grean     9
                Red      10
            台中  Green    11
dtype: int64

In [23]:
s2.unstack(['key1', '縣市'])

key1          a          b
縣市           台北   台中    台北    台中
key2 顏色
1    Grean  0.0  NaN   6.0   NaN
     Green  NaN  2.0   NaN   8.0
     Red    1.0  NaN   7.0   NaN
2    Grean  3.0  NaN   9.0   NaN
     Green  NaN  5.0   NaN  11.0
     Red    4.0  NaN  10.0   NaN

In [24]:
s2.unstack(['key1', '縣市', '顏色'])

key1     a               b
縣市      台北        台中    台北        台中
顏色   Grean Red Green Grean Red Green
key2
1        0   1     2     6   7     8
2        3   4     5     9  10    11

In [25]:
frame.groupby(level='key1').sum()

縣市      台北        台中
顏色   Grean Red Green
key1
a        3   5     7
b       15  17    19