In [ ]:
# list comprehension -> 快速建立list
[f'{num}號' for num in range(1, 51)]

In [ ]:
import numpy as np
import pandas as pd

array_2d = np.random.randint(50, 100, size=(50, 5))
df1 = pd.DataFrame(array_2d,
             columns=['國文', '英文', '數學', '地理', '社會'],
             index=[f'{num}號' for num in range(1, 51)])
df1

In [ ]:
# 從DataFrame取出ndarray
df1.values

In [ ]:
# DataFrame[欄位名稱] subscript
df1['國文'], df1['英文']

In [9]:
# Series的選取，使用subscript
# Series[數值的index]
df1['國文'][0]
# Series[數值的index]
df1['國文'][:5]
# Series[字串的index]
df1['國文']['1號']
# Series[[字串, 字串, 字串]]
df1['國文'][['1號', '2號', '3號']]

C:\Users\chesterXalan\AppData\Local\Temp\ipykernel_21580\2554846373.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df1['國文'][0]

1號    94
2號    79
3號    96
Name: 國文, dtype: int32

In [ ]:
# DataFrame的subscripts
# DataFrame[欄位名稱]
df1['國文']

In [ ]:
# DataFrame的subscripts
# DataFrame[[欄位名稱, 欄位名稱]]
df1[['國文', '英文']]

In [ ]:
# DataFrame的列的選取
# loc[字串]
# iloc[數值]

In [11]:
# 選取1號
# loc[字串]
df1.loc['1號']

國文    94
英文    82
數學    80
地理    65
社會    88
Name: 1號, dtype: int32

In [12]:
# 選取1號, 2號, 3號
# loc[[字串, 字串]]
df1.loc[['1號', '2號', '3號']]

    國文  英文  數學  地理  社會
1號  94  82  80  65  88
2號  79  65  92  71  88
3號  96  91  97  54  88

In [13]:
# 選取前5位
# iloc[index:index]
df1.iloc[:5]

    國文  英文  數學  地理  社會
1號  94  82  80  65  88
2號  79  65  92  71  88
3號  96  91  97  54  88
4號  92  98  56  55  65
5號  89  99  58  57  94

In [14]:
# 選取前5位
# iloc[數值索引:數值索引]
df1.iloc[-5:]

     國文  英文  數學  地理  社會
46號  67  90  76  74  76
47號  89  75  59  57  59
48號  55  92  58  66  86
49號  87  96  86  94  97
50號  54  56  66  78  80